build/
macos/
windows/
web/
linux/
.vscode
assets/
.dart_tool
.idea
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
devtools_options.yaml
*.png
*.log
unicorn_thirteen.iml
pubspec.lock